@import "tailwindcss";

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --background: #f5f6f7;
  --foreground: #003366;
  --bundesamt-blue: #004b9a;
  --bundesamt-light-blue: #e8f0f8;
  --bundesamt-dark: #002b5c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-bundesamt-blue: var(--bundesamt-blue);
  --color-bundesamt-light-blue: var(--bundesamt-light-blue);
  --color-bundesamt-dark: var(--bundesamt-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f6f7;
    --foreground: #003366;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Vazirmatn', sans-serif;
}
